<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
  <div id="container">
  <a href="/dashboard">Dashboard</a> |
  <a href="/logout">Logout</a>
  <!-- {{alias}} -->
  <!-- {{quotes}} -->
  <h2>Posts by {{alias[0]['alias']}}</h2>
  <h2>Count: {{count[0]['num']}}</h2>

  <div class="posts">
  {%for quote in quotes:%}
    <p><span class="author2" style="color:red">{{quote['author']}}:</span> {{quote['message']}}</p>
  {%endfor%}
  </div>
  </body><!-- close container -->
</html>
